										/*-------------------Start Home Page----------------------------*/
p,img,ul,li,h1,h2,h3,h4,h5,h6,a,p,hr{
	padding: 0px;margin: 0px;
}
body{
font-family: "Cairo";
}
/*-------------------Start Header Section----------------------------*/
header{
	background-image: url("Assets/img/bg.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 350px 0px;
	position: relative;
}
header .login-btn i{
	font-size: 30px;
	color:white;
	position: absolute;
	top: 30px;
	right: 50px;
	
}

header .add-ad a{
	text-decoration: none;
	color:#CF455C;
	padding: 10px;
	border-radius: 20px;
	background-color: white;
	position: absolute;
	top: 25px;
	right: 80px;
}
header .ops-text a{
	text-decoration: none;
}
header .ops-text h1{
	text-align: center;
	color:white;
	font-size: 40px;
}
/*-------------------End Header Section----------------------------*/
/*-------------------Start Search Section----------------------------*/
.search .search-box{
	background: rgb(207,69,80);
	background: linear-gradient(90deg, rgba(207,69,80,1) 30%, rgba(255,138,80,1) 70%);
	padding: 30px;
	position: relative;
	margin-top: -42px;
	direction: rtl;
	box-shadow: 0  10px  16px 5px rgbA(0,0,0,.3);
		
		
}
.search .search-box input,select{
	width: 100%;
	padding: 15px;
	border-radius: 20px;
	border: none;
	direction: rtl;
}
.search .search-box a{
	text-decoration: none;
	color:#CF455C;
	padding: 10px 50px;
	background-color: white;
	border-radius: 15px;
}
.search .search-box .search-btn{
	margin-top: 12px;
	margin-left: 15px;
}
.search .search-box  ::placeholder {
  color: black;
  opacity: 1;
}
.search .categories i{
	padding: 40px;
	font-size: 40px;
	border-radius: 50%;
	background-color: red;
	margin: 60px 0px 10px 0px;
	color:white;
}
	.search .categories .fa-mobile{
		padding: 40px 54px;
	}
.search .categories select{
	text-decoration: none;
	padding: 0px;
	color:white;
	font-size: 13px;
	background-color: black;
	border-radius: 15px;
	width: 100%;
}
.search .categories select {
  text-indent: 15%;
}
@media only screen and (max-width:992px){
	.search .search-box input,select{
		width:90%;
		
	}
	
	.search .search-box a{
		padding: 10px 30px;
	}
	.search .categories i{
		padding: 25px;
	}
	.search .categories .fa-mobile{
		padding: 25px 42px;
	}
	.search .categories select {
  text-indent: 10%;
}
}
@media only screen and (max-width:770px){
	.search .search-box input,select{
		margin-bottom: 20px;
		width: 100%;
	}
	.search .search-box{
		margin-top: -120px;
	}
	.search .categories select {
 	 text-indent: 45%;
}
	.search .categories .fa-mobile{
		padding: 40px 54px;
	}
	.search .categories i{
		padding: 40px;
	}

	
}

/*-------------------End Search Section----------------------------*/
/*------------------Start newly-added Section----------------------------*/
.newly-added{
	padding: 60px 0px 30px 0px;
	direction: rtl;
}
.newly-added h3{
	display: flex;
	border-right: 6px solid #FF8A5C;
	padding: 10px;
	color: #CF455C;
	
}
.newly-added .cards{
	margin-top: 40px;
	background-color: #F5F5F5;
	padding-bottom: 20px;
}
.newly-added h5{
	margin-top: 15px;
}
.newly-added p{
	display: table;
	font-size: 18px;
	font-weight: bold;
}
.newly-added i {
	padding: 5px 10px;
	font-size: 22px;
	color: #CF455C;
}
.newly-added .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 15px 80px;
	border-radius: 20px;
	background: rgb(207,69,80);
	background: linear-gradient(180deg, rgba(207,69,80,1) 30%, rgba(255,138,80,1) 90%);
	
}
.newly-added .moreinfo{
	margin-top: 30px;
}

/*-------------------End newly-added Section----------------------------*/
/*-------------------Start subscription Section----------------------------*/
.subscription{
	background-image: url("Assets/img/Rectangle 9.png"),url("Assets/img/197470-OYF57A-37.png");
	direction: rtl;
}

.subscription h1{color:white;padding: 50px;}
.subscription input{
	margin: 40px 0px 60px 0px;
	padding: 15px 20px;
	width: 50%;
	border-radius: 50px;
	border: none;
	
}
.subscription a{
	text-decoration: none;
	color:#CF455C;
	padding: 10px 40px;
	border-radius: 20px;

	background-color: white;

}
.subscription .send{
		padding: 40px 0px;
}
@media only screen and (max-width:992px){
	.subscription input{
		width: 70%;
	}
}
@media only screen and (max-width:770px){
	.subscription input{
		width: 90%;
	}
}

/*-------------------End subscription Section----------------------------*/
/*-------------------Start Footer Section----------------------------*/
footer{
	background-color: #CF455C;
	direction: rtl;
	padding: 20px 40px;
}
footer h1{
	color:white;
	padding-bottom: 30px;
}
footer p{
	text-align: right;
	float: right;
	color:white;
}
footer ul{
	list-style-type: none;
	text-align: right;
	margin: 0px 40px;
}
footer ul  li{
	margin: 5px;
}
footer .container-fluid a{
	text-decoration: none;
	color:white;

}
footer .container-fluid i {
	font-size: 38px;
	margin: 10px;
	float: right;
}
footer .download{
	padding: 15px;
	margin: 20px 0px;
	background-color: white;
	border-radius: 30px;
	float: right;
	display: inline-block;
}
footer .download i{
	margin: 0px;
	color:#FF8A5C;
	margin-top: -7px;
}
footer .download a{
	color:#CF455C;
	padding: 10px;
	
}
@media only screen and (max-width:992px){
	footer ul{
		margin: 0px;
		
	}
	footer{
	padding: 20px 0px;
}
}
@media only screen and (max-width:770px){
	footer ul{
		margin: 40px 20px;
	}
	footer .download {
		margin: 10px;
	}
}
/*-------------------End Footer Section----------------------------*/

										/*-------------------End Home Page----------------------------*/
										/*-------------------Start CarsProducts Page----------------------------*/
.search .search-box .options select{
	width: 100%;
	padding: 5px;
	border-radius: 20px;
	border: none;
	direction: rtl;
}
.newly-added .cards{
	margin-top: 40px;
	background-color: #FFFFF5;
	padding-bottom: 20px;
}

	.pages {
        text-align: center;
    }
    .pages ul {
        display: inline-block;
		list-style-type: none;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
    }
    .pages li {
   		float: left;
  		background-color: #CF455C;
  	    margin: 30px 10px 0px;
		padding: 5px 12px;
}
.pages a{
	color:white;
	text-decoration: none;
}

									/*-------------------End CarsProducts Page----------------------------*/
/*-------------------Start Product Page----------------------------*/
.main{
	text-align: right;
	padding: 40px 0px;
}
.main .headinfo p{color:#FF8A5C}
.main .car{
	margin: 20px 0px;
	position: relative;
}
.main .car-hover {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100px;
    padding: 25% 0px;

}
.main .car-hover:hover{
	bottom:0px;
}
.main .car-hover h1{
	color:white;
	font-size: 30px;
	text-align: center;
		
}
.main .rightsection i {
	text-align: center;
}
.main .rightsection a{
	font-size: 21px;
}
.main .rightsection a{
	font-size: 21px;
}
.main .carinfo p {
	padding: 10px 30px;
	background-color: #FFFFFF;
}
.main .carinfo .row{
	margin: 40px 0px;
}
.main .carinfo h4{margin: 20px 0px;
	color:#CF455C;
}
.main .carinfo textarea{
	width: 100%;
	padding: 10px;
}
.main .carinfo span{
	font-weight: bold;
}
.main .rightsection .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 15px 80px;
	border-radius: 20px;
	background: rgb(207,69,80);
	background: linear-gradient(180deg, rgba(207,69,80,1) 30%, rgba(255,138,80,1) 90%);
	
}
.main .moreinfo{
	margin-top: 30px;
}
.main .leftsection{padding: 30px;}
.main .leftsection .price{
	padding: 15px;
	font-size: 30px;
	background-color: white;
	border-radius: 50px;
	color:#CF455C;
	margin-bottom: 100px;
}
.main .leftsection .moreinfo{
	margin: 80px 0px;
	
}
.main .leftsection .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 15px 80px;
	border-radius: 20px;
	
	
}
.main .leftsection .moreinfo .call{
	background-color: #FF8A5C;
	padding: 15px 100px;
	
}
.main .leftsection .sellerinfo{
	background-color: white;
	padding: 10px 0px;
}
.main .leftsection .sellerinfo i{
	font-size: 30px;
	margin: 20px 0px;
	color:black;
	text-decoration: none;
}
.main .leftsection .sellerinfo p{
	color:#CF455C;
	padding: 5px;
	
}
.main .leftsection .sellerinfo a{
	text-decoration: none;
	
}
.main .leftsection .security-text{
	padding: 15px;
	background-color: #444444;
	color:white;
	margin-top: 40px;
}
.main .leftsection .security-text i {
	padding-left: 15px;
	color:#FF8A5C;
}
.main .leftsection .security-text h3 {
	padding: 15px 0px;
}
.main .leftsection .security-text p {
	font-size: 15px;
}
@media only screen and (max-width:992px){
	.main .leftsection {
		padding: 0px; 
	}
}
@media only screen and (max-width:770px){
	.main .leftsection .moreinfo a {
    padding: 15px 30px;
}
	.main .leftsection .moreinfo .call {
    padding: 15px 50px;
}
}
@media only screen and (max-width:425px){
	.main .leftsection .price {
    font-size: 22px;
}
	.main .leftsection .moreinfo a {
    padding: 15px 10px;
}
	.main .leftsection .moreinfo .call {
    padding: 15px 10px;
}
}

/*-------------------Start Product Page----------------------------*/
/*-------------------Start login Page----------------------------*/
.login{
	text-align: right;
	padding: 20px 0px;
}
.login .login-box{
	background-color: white;
	box-shadow: 0  10px  16px 5px rgbA(0,0,0,.3);
	
	
}
.login img {
		max-width: 60%;
	}
.login .login-box .leftsection{
	background: linear-gradient(180deg, rgba(207,69,92,1) 30%, rgba(255,138,92,1) 90%);
	padding: 150px 20px;
}
.login .login-box .rightsection{
	padding: 80px 20px;
}
.login .login-box  input{
	background-color:#CF455C;
	width: 90%;
	border-radius: 40px;
	color:white;
	padding: 10px 50px 10px 0px;
	box-sizing: border-box;
	
	
}
.login  ::placeholder {
    color: white;
    opacity: .7;
}
.login .login-box .rightsection .col-md-6 a{
	color:#CF455C
}
.login .login-box .inputwithicon {
	position: relative;
}
.login .login-box .inputwithicon i {
	position: absolute;
	right: 40px;
	top:10px;
	color:white;
	font-size: 26px;
}
.login .rightsection .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 5px 80px;
	border-radius: 20px;
	background: rgb(207,69,80);
	background-color:#CF455C;
	
}
.login .moreinfo{
	margin-top: 30px;
}
.login .rightsection .row{
	padding: 30px;
}
@media only screen and (max-width:770px){
	.login img {
		max-width: 100%;
	}
	.login .login-box .rightsection .col-md-6{
		text-align: right!important;
		margin-top: 20px;
}
	.login .rightsection .row{
	padding: 10px;
}
}
@media only screen and (max-width:530px){
	.login img {
		max-width: 100%;
	}
	.login .login-box  input{
	width: 100%;
	padding: 10px 50px 10px 0px;

}
	.login .login-box .inputwithicon i {
	right: 20px;
	top:10px;
	font-size: 26px;
}
	.login .rightsection .moreinfo a{
	padding: 5px 40px;	
}
	.login .login-box .rightsection .col-md-6{
		text-align: right!important;
		margin-top: 20px;
}	
}
@media only screen and (max-width:380px){
	.login .container{
		padding-right: 0px;
	}
	.login .login-box input {
        font-size: 13px;
		padding: 10px 29px 10px 0px;
}
	.login .login-box .inputwithicon i {
		right: 10px;
		top: 10px;
		font-size: 22px;
}
}


/*-------------------End login Page----------------------------*/
/*-------------------Start choosead Page----------------------------*/
.choosead{
	text-align: right;
	padding: 100px 0px;
}
.choosead p{
    border-right: 6px solid #FF8A5C;
	padding: 10px;
	font-size: 22px;
}
.choosead  .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 5px 80px;
	border-radius: 20px;
	background: rgb(207,69,80);
	background-color:#CF455C;
	
}
.choosead .moreinfo{
	margin-top: 80px;
}
@media only screen and (max-width:1200px){
	.choosead  .moreinfo a{
	
		padding: 5px 45px;
	}
}
@media only screen and (max-width:320px){
	.choosead  .moreinfo a{
	
		padding: 5px 36px;
	}
}


/*-------------------End choosead Page----------------------------*/
/*-------------------Start NewAdCars Page----------------------------*/
.cars-ad{
	text-align: right;
	padding: 20px 0px;
	color:#FF8A5C;
}
.cars-ad .row{
	background-color: #ECECEC;
	padding: 30px;
}
.cars-ad p{
    border-right: 6px solid #FF8A5C;
	font-size: 22px;
	padding: 10px;
	margin: 30px 0px;
}
.cars-ad form{

}
.cars-ad form p {
	border: none;
	color:#FF8A5C;
	font-size: 20px;
	margin: 0px;
}
.cars-ad input[type=text],select{
	width: 100%;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	color:#FF8A5C;
}
.cars-ad input[type=checkbox]{
	margin: 10px;
}
.cars-ad  textarea{
	width: 100%;
	padding: 10px;
	height: 150px;
}
.cars-ad .moreinfo a{
	text-decoration: none;
	color:white;
	padding: 5px 80px;
	border-radius: 20px;
	background: rgb(207,69,80);
	background: linear-gradient(180deg, rgba(207,69,80,1) 30%, rgba(255,138,80,1) 90%);
	
}
.cars-ad .moreinfo{
	margin-top: 30px;
}
/*-------------------End NewAdCars Page----------------------------*/


